
*.csv
archive/olympic_results.pkl
Python Project Ideas.rtf
.DS_Store
.DS_Store
.DS_Store
.ipynb_checkpoints/JChatterjee Python Project-checkpoint.ipynb
Visuals/bot_income.png
Visuals/bot_population.png
Visuals/medals_per_capita.png
Visuals/medals_per_gdp_capita.png
Visuals/pop_vs_gdp_per_capita.png
Visuals/reg_medals_per_gdp_capita.png
Visuals/reg_share_gdp.png
Visuals/reg_share_medals.png
Visuals/reg_share_medals_skating.png
Visuals/reg_share_medals_skiing.png
Visuals/reg_share_medals_sledding.png
Visuals/reg_share_medals_snowboarding.png
Visuals/reg_share_population.png
Visuals/top_income.png
Visuals/top_long_track.png
Visuals/top_medalists.png
Visuals/top_population.png
Visuals/top_short_track.png
Visuals/top_skating.png
Visuals/top_skiing.png
Visuals/top_sledding.png
Visuals/top_snowboarding.png
Visuals/vecteezy_beijing-winter-olympics-2022-flag-waving-in-the-wind-blue_5946889_8.jpeg
Visuals/winter_olympic_medal_corr.png
